<!-- Marketing Icons Section -->
<section id="portfolio">
	<div class="row text-center">

		<div class="col-md-4 portfolio-item">
			<a href="{{ site.baseurl }}/genomics" class="portfolio-link">
				<div class="caption">
					<div class="caption-content">
						<i class="fa fa-search-plus fa-3x"></i>
					</div>
				</div>
				<!--img class="img-circle responsive" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" style="width: 140px; height: 140px;"-->
				<img class="img-circle responsive" src="{{ site.baseurl }}/images/geno_patterns.png" alt="Genomics" style="width: 140px; height: 140px;">
			</a>
			<h4 class="service-heading">Genomics</h4>
			<p class="text-muted">
				From designing experiments to analysing the results, our team
				can guide you in all steps of genomics experiments.
			</p>
		</div>

		<div class="col-md-4 portfolio-item">
			<a href="{{ site.baseurl }}/services" class="portfolio-link">
				<div class="caption">
					<div class="caption-content">
						<i class="fa fa-search-plus fa-3x"></i>
					</div>
				</div>
					<!--img class="img-circle responsive" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" style="width: 140px; height: 140px;"-->
				<img class="img-circle responsive" src="{{ site.baseurl }}/images/stat_dots.png" alt="Generic placeholder image" style="width: 140px; height: 140px;">
			</a>
			<h4 class="service-heading">Statistics</h4>
			<p class="text-muted">
				It's hard to make sense of complex, noisy datasets without a
				proper statistical treatment. Discuss your questions with us
				and let us define the best approach for your problem.
			</p>
		</div>

		<div class="col-md-4 portfolio-item">
			<a href="{{ site.baseurl }}/innovation" class="portfolio-link">
				<div class="caption">
					<div class="caption-content">
						<i class="fa fa-search-plus fa-3x"></i>
					</div>
				</div>
				<img class="img-circle responsive" src="{{ site.baseurl }}/images/expo.png" alt="Generic placeholder image" style="width: 140px; height: 140px;">
			</a>
			<h4 class="service-heading">Innovation</h4>
			<p class="text-muted">
				A young company recently emerged from the academic research
				environment, multi-disciplinary and inter-disciplinary;
				innovation is in our DNA.
			</p>
		</div>
	</div>
</section>
