<!-- Marketing Icons Section -->
<section id="portfolio">
	<div class="row text-center">

		<div class="col-md-6 portfolio-item">
			<a href="{{ site.baseurl }}/genomics" class="portfolio-link">
				<div class="caption">
					<div class="caption-content">
						<i class="fa fa-search-plus fa-3x"></i>
					</div>
				</div>
				<!--img class="img-circle responsive" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" style="width: 140px; height: 140px;"-->
				<img class="img-circle responsive" src="{{ site.baseurl }}/images/geno_patterns.png" alt="enGene" style="width: 140px; height: 140px;">
			</a>
			<h4 class="service-heading">enGene</h4>
			<p class="text-muted">
				Genomics drove us here. Benefit from our background, we can
				guide you in the planning and analysis of experiments.
			</p>
		</div>

		<div class="col-md-6 portfolio-item">
			<a href="{{ site.baseurl }}/services" class="portfolio-link">
				<div class="caption">
					<div class="caption-content">
						<i class="fa fa-search-plus fa-3x"></i>
					</div>
				</div>
					<!--img class="img-circle responsive" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" style="width: 140px; height: 140px;"-->
				<img class="img-circle responsive" src="{{ site.baseurl }}/images/stat_dots.png" alt="Statistics" style="width: 140px; height: 140px;">
			</a>
			<h4 class="service-heading">Statistics</h4>
			<p class="text-muted">
				It's hard to make sense of complex, noisy datasets without a
				proper statistical treatment. Bring your questions and we will
				discuss the best approach for your problem.
			</p>
		</div>

	</div>
</section>
